/*Автоматически дописывает суффиксы*/
.modal-overlay {
    background: none !important;
    max-height: 100vh;
    overflow-y: auto;
}
.modal-overlay:before {
    position: fixed;
    content: '';
    background: white;
    width: 100%;
    height: 100%;
    opacity: .7;
}
.modal-content {
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 12px 30px 0 rgba(37, 38, 39, 0.35);
    border: none !important;
    width: auto !important;
    padding: 0 !important;
}
.modal-content__dialog-text {
    font-size: calc(var(--global-font-size) + 2px);
    text-align: center;
    line-height: 30px;
    margin: 45px 0 0 0;
    word-break: break-word;
}
.modal-content__success-text, .modal-content__failure-text {
    font-size: calc(var(--global-font-size) + 2px);
    text-align: center;
    line-height: 30px;
}
.modal-content__failure-text {
    word-break: break-word;
    margin-top: 20px;
    margin-bottom: 35px;
}
.modal-content__button-bar {
    display: flex;
    justify-content: space-between;
    margin: 35px 40px 30px;
}
.modal-content__loading, .modal-content__success-result, .modal-content__failure-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    box-sizing: border-box;
    font-size: 18px;
}
.modal-content__loading, .modal-content__success-result {
    word-break: break-word;
    padding: 40px 0;
}
.modal-content__failure-result {
    padding: 25px 0;
}

.modal__loader {
    width: 64px;
    height: 64px;
}

.modal__loader-part {
    --time: 0.8s;
    position: absolute;
    margin-top: 30px;
    margin-left: 5px;
    transform-origin: 170% center;
    width: 16px;
    height: 5px;
    border-radius: 4px;
    background-color: #5AC66F;
    animation: modal__loader-animation var(--time) linear infinite;
}

.modal__loader-part:nth-child(1) {
    animation-delay: var(--time);
}

.modal__loader-part:nth-child(2) {
    transform: rotate(45deg);
    animation-delay: calc(var(--time) / 8);
}

.modal__loader-part:nth-child(3) {
    transform: rotate(90deg);
    animation-delay: calc(var(--time) / 4);
}

.modal__loader-part:nth-child(4) {
    transform: rotate(135deg);
    animation-delay: calc((var(--time) / 4) + (var(--time) / 8));
}

.modal__loader-part:nth-child(5) {
    transform: rotate(180deg);
    animation-delay: calc(var(--time) / 2);
}

.modal__loader-part:nth-child(6) {
    transform: rotate(225deg);
    animation-delay: calc((var(--time) / 2) + (var(--time) / 8));
}

.modal__loader-part:nth-child(7) {
    transform: rotate(270deg);
    animation-delay: calc((var(--time) / 2) + (var(--time) / 4));
}

.modal__loader-part:nth-child(8) {
    transform: rotate(315deg);
    animation-delay: calc((var(--time) / 1) - (var(--time) / 8));
}

@keyframes modal__loader-animation {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}