.icon, .management {
  display: inline-block;
  margin-top: 0;
}

.icon {
  margin-top: 25vh;
  margin-left: 15vw;
}

.management {
  margin-left: 10vw;
  height: 100%;
}

.wrapper {
  margin: auto 0;
}

