@media screen and (orientation:landscape) {
    .progress-api {
        position: absolute;
        top: 50vh;
        left: 60vw;
    }
}

@media screen and (orientation:portrait) {
    .progress-api {
        position: absolute;
        top: 60vh;
        left: 50vw;
    }
}